.md-pills .nav-item {
  border: 1px solid #ddd;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 5%;
}
.md-pills .nav-item .nav-link {
  text-decoration: none;
  color: #555;
  font-size: 17px;
}
.md-pills .nav-item .active {
  background-color: #337ab7;
  border-color: #337ab7;
  color: white;
}
.tile {
  background: rgba(90, 90, 94, 0.7);
  text-align: center;
  color: white;
  border-radius: 4px;
  padding: 10px;
}
.tile:hover {
  cursor: pointer;
}
.tile.active {
  box-shadow: 0px 0px 31px 0px rgba(1, 1, 8, 0.7);
  border: 0.5px solid rgba(2, 5, 36, 0.9);
  transition: border 0.1s ease-in-out;
}
.tile i {
  line-height: 14px;
  display: block !important;
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: 25px;
}
