@import url("https://fonts.googleapis.com/css?family=Roboto");
html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-weight: 300;
  /* font-family: "Roboto"; */
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  padding: 0 !important;
  margin: 0 !important;
}
.full-height {
  height: 100%;
}
.login-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: linear-gradient(rgba(36, 37, 36, 0.774), rgba(53, 56, 55, 0.603)),
    url(/static/img/login-background.jpg) no-repeat center center;
  background-size: cover;
  padding: 5rem 10rem 10rem 10rem;
}
.login-image-header {
  text-align: center;
  color: white;
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  font-family: inherit;
}
.login-image-subheader {
  color: white;
  font-size: 1.1rem;
  font-weight: 200;
}
.login-form {
  padding: 3rem 7rem;
}
.form-container {
  width: 100%;
  height: 100%;
}
.stack-item-fluid {
  display: block;
  height: auto;
}
.stack-item-center {
  display: block;
}
.stack-item-fluid-content {
  padding: 15% 1rem 1rem 1rem !important;
  overflow: hidden;
}
.login-logo {
  text-align: center;
  margin: 0 auto 4rem auto;
}
.login-logo-img {
  max-width: 100%;
}
.login-head {
  margin-top: 1rem;
}
.login-title {
  text-align: center;
  font-size: 1.5rem;
}
.login-form-inputs {
  margin-top: 4rem;
}
.login-input-icon {
  color: #9e9e9e;
}
.login-utils {
  margin-top: 2rem;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.link {
  font-size: 1.2rem;
  text-decoration: none;
  color: #59698d;
  display: inline-block;
}
.link:hover {
  color: #38425c;
  text-decoration: none !important;
}
.link:after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  top: 1rem;
  left: 0;
  width: 0%;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
.link:hover:after {
  width: 100%;
}
.link:hover:after {
  border-bottom: 1px solid #5f57c3;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.checkbox-label {
  padding-left: 5px;
  vertical-align: top;
  font-size: 1.2rem;
}
.ckbx-style-11 label:before {
  margin-top: 5px;
}
.login-form-action {
  margin: 3rem 0 3rem 0;
  text-align: center;
}
.form-action {
  display: inline-block;
  text-align: center;
  padding: 1.2rem 3rem;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  user-select: none;
  padding: 8px 14px 7px;
}
.form-action:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.26);
}
.register-prompt-label {
  display: block;
  font-size: 1.1rem;
  font-weight: 400;
  color: #898b96;
}
.register-prompt-link {
  font-size: 1.1rem;
  font-weight: 400;
}
.center-text {
  text-align: center;
}
.alert-danger {
  background-color: white;
  border: 1px solid #f4516c;
  color: #f4516c;
  font-weight: 400;
  background: white;
  padding: 0.85rem 1.5rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  text-align: center;
}
.btn-outline-info {
  padding-top: 8px !important;
  padding-bottom: 7px !important;
  border: 1px solid #59687c !important;
  background-color: transparent !important;
  color: #59687c !important;
  trainsiton: 0.3s ease;
}
.btn-outline-info:hover {
  border: 1px solid #59687c !important;
  background-color: #59687c !important;
  color: white !important;
}
.form-group-register {
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
}
.label-form-group {
  font-size: 15px;
  color: rgb(0, 0, 0);
  margin-bottom: 15px;
}
.type-account-box {
  background: rgba(90, 90, 94, 0.7);
  text-align: center;
  color: white;
  border-radius: 4px;
  padding: 10px;
}
.type-account-icon{
  line-height: 14px;
  display: block!important;
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 5px;
}
.type-account-box:hover{
  cursor: pointer;
}
.type-account-box.active {
  box-shadow: 0px 0px 31px 0px rgba(1, 1, 8, 0.7);
  border: 0.5px solid rgba(2, 5, 36, 0.9);
  transition: border 0.1s ease-in-out;
}
.iziToast-message{
  font-weight: 600;
}
@media (min-width: 993px) {
  .form-container-desktop {
    display: table;
    table-layout: fixed;
  }
}
@media (min-width: 993px) {
  .stack-item {
    display: table-row;
    vertical-align: top;
    height: 1px;
  }
}
@media (min-width: 993px) {
  .stack-item-fluid {
    height: auto;
  }
}
@media (min-width: 993px) {
  .stack-item-center {
    text-align: center;
  }
}

/* Material Design inputs
.md-form {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.md-form .prefix {
  top: 0.25rem;
  font-size: 1.75rem;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
