<!DOCTYPE html>
<html lang="bg">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Airsofter</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:600|Source+Sans+Pro:600,700">
    <link rel="stylesheet" href="/static/css/main.css" />
</head>

<body class="ui-transparent-nav" data-fade_in="on-load">

    <!-- Navbar Fixed + Default -->
    <nav class="navbar navbar-fixed-top transparent navbar-dark bg-dark-gray">
        <div class="container">
            <!-- Logo -->
            <a class="ui-variable-logo navbar-brand" href="index.html" title="Airsofter">
                <!-- Default Logo -->
                <img class="logo-default" src="/static/img/applify-logo-white.png" alt="Airsofter" data-uhd>
                <!-- Transparent Logo -->
                <img class="logo-transparent" src="/static/img/applify-logo-white.png" alt="Airsofter" data-uhd>
            </a>

            <!-- Navigation -->
            <div class="ui-navigation navbar-center">
                <ul class="nav navbar-nav">
                    <!-- Home Section -->
                    <li>
                        <a href="#" data-scrollto="home">Начало</a>
                    </li>
                    <!-- How it works Section -->
                    <li>
                        <a href="#" data-scrollto="how-it-works">Как работи?</a>
                    </li>
                    <!-- Google Maps Section -->
                    <li>
                        <a href="#" data-scrollto="integrate">Намери арена</a>
                    </li>
                </ul>
            </div>

            <!-- Navigation Button -->
            <a href="" class="btn btn-sm ui-gradient-peach pull-right">Вход/Регистрация</a>

            <!-- Navbar Toggle -->
            <a href="#" class="ui-mobile-nav-toggle pull-right"></a>
        </div>
    </nav>

    <!-- Main Wrapper -->
    <div class="main" role="main">
        <!-- Hero -->
        <div id="home" class="ui-hero hero-lg hero-center hero-bg ui-curve hero-svg-layer-4 bg-dark-gray">
            <div class="container">
                <div class="row pt-2 pb-6">
                    <div class="col-sm-12" data-vertical_center="true" data-vertical_offset="16">
                        <!-- Text -->
                        <h1 class="heading animate" data-show="fade-in-up-big" data-delay="100">
                            The
                            <span class="text-red">easiest</span> &amp; most
                            <span class="text-red">secure</span> online chat room
                        </h1>

                        <!-- Buttons -->
                        <div class="actions animate" data-show="fade-in-up-big" data-delay="600">
                            <a href="#" data-scrollto="services" class="btn ui-gradient-blue shadow-xl">Намери сервиз</a>
                            <a href="/app" class="btn ui-gradient-green shadow-xl">Към платформата</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Intro Image -->
        <div class="section intro-image pt-0">
            <img src="/static/img/applify-browser-mockup.png" data-uhd data-max_width="1000" class="shadow-xxl responsive-on-lg" alt="Airsofter">
        </div>

        <!-- How It Works Section -->
        <div class="section laptop-showcase pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-lg-4" data-vertical_center="true">
                        <div>
                            <h2 class="heading text-dark-gray">
                                Designed For All Apps
                            </h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                            <ul class="ui-checklist mt-2">
                                <li>
                                    <h6 class="heading text-dark-gray">Consectetur adipisicing</h6>
                                </li>
                                <li>
                                    <h6 class="heading text-dark-gray">Eiusmod tempor incididunt</h6>
                                </li>
                                <li>
                                    <h6 class="heading text-dark-gray">Ut enim ad minim</h6>
                                </li>
                            </ul>
                            <a href="#" class="btn ui-gradient-peach">Download</a>
                        </div>
                        <div class="col-md-7 col-lg-8">
                            <img class="responsive-on-sm laptop" src="/static/img/applify-mockup-11.png" data-uhd alt="Airsofter" data-max_width="1000">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script type="text/javascript" src="/static/js/libs/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/static/js/libs/jQuery.sliderPro.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/libs/form-validator.min.js"></script>
    <script type="text/javascript" src="/static/js/landing.js"></script>
</body>

</html>