<!DOCTYPE html>
<html lang="bg">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Airsofter</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:600|Source+Sans+Pro:600,700">
    <link rel="stylesheet" href="/static/css/main.css" />
</head>

<body class="ui-transparent-nav" data-fade_in="on-load">

    <!-- Navbar Fixed + Default -->
    <nav class="navbar navbar-fixed-top transparent navbar-dark bg-dark-gray">
        <div class="container">
            <!-- Logo -->
            <a class="ui-variable-logo navbar-brand" href="index.html" title="Airsofter">
                <!-- Default Logo -->
                <img class="logo-default" src="/static/img/applify-logo-white.png" alt="Airsofter" data-uhd>
                <!-- Transparent Logo -->
                <img class="logo-transparent" src="/static/img/applify-logo-white.png" alt="Airsofter" data-uhd>
            </a>

            <!-- Navigation -->
            <div class="ui-navigation navbar-right">
                <ul class="nav navbar-nav">
                    <!-- Home Section -->
                    <li>
                        <a href="#" data-scrollto="home">Начало</a>
                    </li>
                    <!-- How it works Section -->
                    <li>
                        <a href="#" data-scrollto="how-it-works">Как работи?</a>
                    </li>
                    <!-- Google Maps Section -->
                    <li>
                        <a href="#" data-scrollto="find-arena">Намери арена</a>
                    </li>
                </ul>
            </div>

            <!-- Navigation Button -->
            <a href="" class="btn btn-sm ui-gradient-blue pull-right">Вход/Регистрация</a>

            <!-- Navbar Toggle -->
            <a href="#" class="ui-mobile-nav-toggle pull-right"></a>
        </div>
    </nav>

    <!-- Main Wrapper -->
    <div class="main" role="main">
        <!-- Hero -->
        <div id="home" class="ui-hero hero-lg hero-center hero-bg ui-curve hero-svg-layer-4 bg-dark-gray">
            <div class="container">
                <div class="row pt-2 pb-6">
                    <div class="col-sm-12" data-vertical_center="true" data-vertical_offset="16">
                        <!-- Text -->
                        <h1 class="heading animate" data-show="fade-in-up-big" data-delay="100">
                            The
                            <span class="text-color">easiest</span> &amp; most
                            <span class="text-color">secure</span> online chat room
                        </h1>

                        <!-- Buttons -->
                        <div class="actions animate" data-show="fade-in-up-big" data-delay="600">
                            <a href="#" data-scrollto="services" class="btn ui-gradient-blue shadow-xl">Намери сервиз</a>
                            <a href="/app" class="btn ui-gradient-green shadow-xl">Към платформата</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Intro Image -->
        <div class="section intro-image pt-0">
            <img src="/static/img/applify-browser-mockup.png" data-uhd data-max_width="1000" class="shadow-xxl responsive-on-lg" alt="Airsofter">
        </div>

        <!-- How It Works Section -->
        <div id="how-it-works" class="section laptop-showcase">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-lg-4" data-vertical_center="true">
                        <div>
                            <h2 class="heading text-dark-gray">
                                Designed For All Apps
                            </h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                            <ul class="ui-checklist mt-2">
                                <li>
                                    <h6 class="heading text-dark-gray">Consectetur adipisicing</h6>
                                </li>
                                <li>
                                    <h6 class="heading text-dark-gray">Eiusmod tempor incididunt</h6>
                                </li>
                                <li>
                                    <h6 class="heading text-dark-gray">Ut enim ad minim</h6>
                                </li>
                            </ul>
                            <a href="#" class="btn ui-gradient-blue">Download</a>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-8">
                        <img class="responsive-on-sm laptop" src="/static/img/applify-mockup-11.png" data-uhd alt="Applify - App Landing HTML Template"
                            data-max_width="1000" />
                    </div>
                </div>

            </div>
            <!-- .container -->
        </div>

        <!-- Find Airsoft Arena Section-->
        <div id="find-arena" class="section bg-dark-gray" style="padding: 60px 0px !important;">
            <div class="container">
                <div class="row">
                    <!-- Text Column -->
                    <div class="col-lg-12 col-md-12" data-vertical_center="true">
                        <!-- Section Heading -->
                        <div class="section-heading mb-0 center-on-md text-center">
                            <h2 class="heading text-indigo">
                                Намери Airsoft арена
                            </h2>
                        </div><!-- .section-heading -->
                        <form action="#" method="POST" class="searchService">
                            <div class="form-group">
                                <div class="row justified-center">
                                    <div class="col-md-4 col-md-offset-3">
                                        <input class="input form-control searchedCity" name="city" placeholder="Въведи град" style="height: 40px !important;">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" class="btn btn-block ui-gradient-green shadow-md searchServices" style="margin-top: 0px !important;">Намери сервиз</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
    
                    <div class="col-md-12">
                        <div id="google-map-services" style="height: 500px; margin-top: 20px; border-radius: 4px;     box-shadow: 0 7px 15px rgba(0, 9, 128, 0.05), 0 12px 28px rgba(0, 9, 128, 0.075);"></div>
                    </div>
                </div><!-- .row -->
            </div><!-- .container -->
        </div>

        <!-- How It Works Section Part 2 -->
        <div class="section bg-light pb-6">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-6 pb-5">
                        <img class="img-responsive" src="/static/img/applify-widget-mockup-2.png" data-uhd alt="Applify - App Landing HTML Template"
                        />
                        <h5 class="text-dark-gray">Lorem Ipsum Dolor Sit</h5>
                        <p class="mb-0">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                    <div class="col-md-6 pb-5">
                        <img class="img-responsive" src="/static/img/applify-widget-mockup-1.png" data-uhd alt="Applify - App Landing HTML Template"
                        />
                        <h5 class="text-dark-gray">Lorem Ipsum Dolor Sit</h5>
                        <p class="mb-0">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>
            </div>
            <!-- .container -->
        </div>

        <!-- Contact Us -->
        <footer class="ui-footer contact-footer maps-footer">
            <!-- Google Maps  !!
         1. Add your latitude to the data-lat attribute here
         2. Add your longitude to the data-long attribute here
         3. Add your API Key to the GoogleMaps include script at the bottom of this Page
         -->

            <!-- Background Gradient Layer -->
            <div id="footer" class="bg-dark-gray footer-bg">
                <div class="container">
                    <div class="row">
                        <!-- Contact Form -->
                        <div class="col-sm-7">
                            <div class="ui-card form-card form-card-1 shadow-xl">
                                <div class="card-header pb-0">
                                    <h4 class="heading text-indigo">Свържи се с нас</h4>
                                </div>
                                <div class="card-body">
                                    <!-- Form -->
                                    <form autocomplete="on" id="contact-form" name="contact-form">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <!-- Name Input -->
                                                <input autocomplete="name" class="input form-control" data-validation="required" data-validation-error-msg="Моля, попълнете това поле."
                                                    name="name" placeholder="Вашето име *">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <!-- Email Input -->
                                                    <input autocomplete="email" class="input form-control" data-validation="required" data-validation-error-msg="Моля, попълнете това поле."
                                                        name="email" placeholder="E-mail *">
                                                </div>
                                                <div class="col-sm-6">
                                                    <!-- Phone Input -->
                                                    <input autocomplete="tel" class="input form-control" data-validation="required" data-validation-error-msg="Моля, попълнете това поле."
                                                        name="phone" placeholder="Телефонен номер *">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <textarea class="input form-control" data-validation="required" data-validation-error-msg="Моля, попълнете това поле." name="message"
                                                placeholder="Вашето съобщение" rows="3"></textarea>
                                        </div>

                                        <button type="submit" class="btn btn-block ui-gradient-green shadow-md">Изпрати</button>
                                    </form>
                                    <!-- Form -->
                                </div>
                            </div>
                        </div>
                        <!-- Contact Info -->
                        <div class="col-sm-5">
                            <div class="ui-card form-card shadow-xl">
                                <div class="card-header pb-0">
                                    <h4 class="heading text-indigo">Контакти</h4>
                                </div>
                                <div class="card-body">
                                    <ul class="ui-icon-blocks ui-blocks-v">
                                        <li class="ui-icon-block">
                                            <span class="icon icon-phone"></span>
                                            <p>+3598 84 17 44 88</p>
                                        </li>
                                        <li class="ui-icon-block">
                                            <span class="icon icon-envelope"></span>
                                            <p>
                                                <a id="gray-color" href="/emailto:hristian00i@abv.bg">hristian00i@abv.bg</a>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .row -->

                    <!-- Social Links -->
                    <div class="text-center">
                        <p>
                            &copy; 2018
                            <a href="htpps://airsofter.bg" target="_blank" title="Airsofter">Airsofter.bg</a> Всички права запазени!
                        </p>
                    </div>

                </div>
                <!-- .container -->
            </div>
            <!-- .footer-bg -->
        </footer>
        <!-- .ui-footer -->
    </div>

    <!-- Scripts -->
    <script type="text/javascript" src="/static/js/libs/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/static/js/libs/jQuery.sliderPro.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/libs/form-validator.min.js"></script>
    <script type="text/javascript" src="/static/js/landing.js"></script>
</body>

</html>